/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'alternategothic2_btregular';
    src: url('../fonts/alternate_gothic_no.2_bt-webfont.eot');
    src: url('../fonts/alternate_gothic_no.2_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alternate_gothic_no.2_bt-webfont.woff') format('woff'),
         url('../fonts/alternate_gothic_no.2_bt-webfont.ttf') format('truetype'),
         url('../fonts/alternate_gothic_no.2_bt-webfont.svg#alternategothic2_btregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'face_your_fearsregular';
    src: url('../fonts/faceyourfears-webfont.eot');
    src: url('../fonts/faceyourfears-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/faceyourfears-webfont.woff2') format('woff2'),
         url('../fonts/faceyourfears-webfont.woff') format('woff'),
         url('../fonts/faceyourfears-webfont.ttf') format('truetype'),
         url('../fonts/faceyourfears-webfont.svg#face_your_fearsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/brandon_med-webfont.eot');
    src: url('../fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_med-webfont.woff2') format('woff2'),
         url('../fonts/brandon_med-webfont.woff') format('woff'),
         url('../fonts/brandon_med-webfont.ttf') format('truetype'),
         url('../fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FB3799;   
    background-attachment:fixed;
    font-family:'face_your_fearsregular', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
/*    text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top;  170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:10%;
    height:200px;                   /* text area height */
    width:300px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -150px;
      /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */

}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    width: 300px;
    font-size:70px;
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    /*text-align:center;*/
    line-height:90%;
    /*opacity:0;*/
    height: 200px;
    letter-spacing: -2px;


}

.textAnim, #textAnimButton, #stats, #graph {  
    display:none;
}

#textAnimButton.buttonDisplay {
    color:#fff; 
    animation:fade 1000ms 1;
    -webkit-animation:fade 1000ms 1;
    display: block;
    cursor:pointer;
        
}

#textAnimButton.buttonDisplayLong {
    color:#fff; 
    animation:fade 1500ms 1;
    -webkit-animation:fade 1500ms 1;
    display: block;
    cursor:pointer;
        
}

#textAnimButton.buttonDisplayLower {
    color:#fff; 
    animation:fade 1500ms 1;
    -webkit-animation:fade 1500ms 1;
    display: block;
    margin-top: 250px;
    cursor:pointer;
        
}

.textAnim.display {
    animation:blink 2000ms 1;
    -webkit-animation:blink 2000ms 1; 
    display: block;
}

.blurIn {
  -webkit-animation: blur 1s 1;
}
.blurOut {
  -webkit-animation: blurOut 1000ms 1;
}



.bounce {    
    -webkit-animation:  scaleInOut 400ms 1 ease-out;
    animation:          scaleInOut 400ms 1 ease-out;
}

#stats, #graph {
    margin-top: 220px;

}

#key, #feedback, #points {
    font-size:20px;
    color:#FFFFFF;
}

div#character {
    margin-top: 475px;
    margin-left: -20px;
    animation:emerge 1000ms 1;
    -webkit-animation:emerge 1000ms 1;

    
}
div#character div.shake {
    animation:shake 5000ms infinite;
    -webkit-animation:shake 5000ms infinite;
}
div#character.rise {
    margin-top: 150px;
    animation:rise 1000ms 1 ease-out;
    -webkit-animation:rise 1000ms 1 ease-out;
    
}
div#character.fall {
    margin-top: 475px;
    animation:fall 1000ms 1 ease-out;
    -webkit-animation:fall 1000ms 1 ease-out;
    
}
div#character.fallSlightly {
    margin-top: 200px;
    animation:fallSlightly 600ms 1 ease-out;
    -webkit-animation:fallSlightly 600ms 1 ease-out;
    
}
div#character.riseSlightly {
    margin-top: 150px;
    animation:riseSlightly 1000ms 1 ease-out;
    -webkit-animation:riseSlightly 1000ms 1 ease-out;
    
}


#speech {
   
    position:absolute; 
               /* position in the center of the screen */
    top:20px;  
    left: 10%;
    right: 10%; 
    /*margin-left: -50px; */
    display:none;
    font-family:'brandon_grotesquemedium', Helvetica, Arial, sans-serif; 
    padding-bottom: 45px;
    background:url(../img/bubble_tail.svg) no-repeat 60% bottom;


}

#tail {
font-size:22px;
color: #666;
 padding: 10px;
 background: #fff;
 text-align: center;
 -moz-border-radius: 16px; 
-webkit-border-radius: 16px; 
}

#speech.display {
    animation:inOut 5000ms 1;
    -webkit-animation:inOut 5000ms 1;
    display: block;
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:16px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#000;
    display:none;
}

@keyframes blurIn {
    0%{ filter: blur(0px); }
    100% { filter: blur(1px); }
}

@-webkit-keyframes blurIn {
  0%  { -webkit-filter: blur(0px); }
  100% { -webkit-filter: blur(1px); }
}

@keyframes blurIn {
    0%{ ffilter: blur(1px); }
    100% { filter: blur(0px); }
}
@-webkit-keyframes blurOut {
  0%  { -webkit-filter: blur(1px); }
  100% { -webkit-filter: blur(0px); }
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
 
@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes blink {
    from { opacity: 0; }
    50% { opacity: 1; }
    to { opacity: 0; }
}
 
@-webkit-keyframes blink {
    from { opacity: 0; }
    50% { opacity: 1; }
    to { opacity: 0; }
}

@keyframes eyeblink {
    0%{ opacity: 1; }
    95% { opacity: 1; }
    97% { opacity: 0; }
    100% { opacity: 0; }
}
 
@-webkit-keyframes eyeblink {
    0%{ opacity: 1; }
    95% { opacity: 1; }
    97% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes shake {
 10%{ padding-left: 1px; }
    25% { padding-top: 2px; }
    50% { padding-left: 3px; }
    75% { padding-top: 0px; }
    100% { padding-left: 0px; }
}
 
@-webkit-keyframes shake {
    10%{ padding-left: 1px; }
    25% { padding-top: 2px; }
    50% { padding-left: 3px; }
    75% { padding-top: 0px; }
    100% { padding-left: 0px; }
}
@keyframes emerge {
    0%{ margin-top: 600px; }
    100% { margin-top: 475px; }
}
 
@-webkit-keyframes emerge {
    0%{ margin-top: 600px; }
    100% { margin-top: 475px; }
}
@keyframes rise {
    0%{ margin-top: 350px; }
    100% { margin-top: 150px; }
}
 
@-webkit-keyframes rise {
    0%{ margin-top: 350px; }
    100% { margin-top: 150px; }
}

@keyframes riseSlightly {
    0%{ margin-top: 200px; }
    100% { margin-top: 150px; }
}
 
@-webkit-keyframes riseSlightly {
    0%{ margin-top: 200px; }
    100% { margin-top: 150px; }
}


@keyframes fall {
    0%{ margin-top: 150px; }
    100% { margin-top: 475px; }
}
 
@-webkit-keyframes fall {
    0%{ margin-top: 150px; }
    100% { margin-top: 475px; }
}

@keyframes fallSlightly {
    0%{ margin-top: 150px; }
    100% { margin-top: 200px; }
}
 
@-webkit-keyframes fallSlightly {
    0%{ margin-top: 150px; }
    100% { margin-top: 200px; }
}

@keyframes inOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes scaleInOut {
    0% { -webkit-transform:scale(1,1); }
    50% { -webkit-transform:scale(1.1,1.1); }
    100% { -webkit-transform:scale(1,1); }
}

@keyframes scaleInOut {
    0% { transform:scale(1,1); }
    50% { transform:scale(1.1,1.1); }
}
 
@-webkit-keyframes inOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}
.eyes {
    animation:eyeblink 3000ms infinite;
    -webkit-animation:eyeblink 3000ms infinite;
    fill: orange;

}
 
#stats {
    margin-top: 5px;
}

 #stats.animate, #graph.animate {
    animation:fade 1500ms 1;
    -webkit-animation:fade 1500ms 1;
    display: block;
}

#key {
    font-family:'brandon_grotesquemedium', Helvetica, Arial, sans-serif;
}

.bonus {
    color: #F7941E;
    font-weight: bold;
}

